<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Com.Example.XmlMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Com.Mypackage.Mapper.UserMapper">
    <select id="getoneUserById" resultType="Com.Mypackage.Model.User">
    select * from sb_users where id <![CDATA[>=]]> #{list[0]} and  id <![CDATA[<=]]>#{list[1]}
</select>


    <select id="getUserByUsername" resultType="Com.Mypackage.Model.User">
    select * from sb_users where username=#{username}
</select>

    <select id="getSingleUsers" resultMap="user_list">
       select *  from sb_users where id=#{id}
    </select>
    
    <resultMap id="user_list" type="Com.Mypackage.Model.User">
        <id property="id" column="id"></id>
        <result property="password" column="password"/>
        <result property="regDate" column="reg_date"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
      <!--  <result property="role.id" column="rid"/>
        <result property="role.RoleName" column="role_name"/>-->

       <!-- <association property="role" javaType="Com.Example.model.Role">
            <id property="id" column="rid"></id>
            <result property="RoleName" column="role_name"/>
        </association>-->
        <association property="role" select="Com.Mypackage.Mapper.RoleMapper.GetoneRoleByid" column="roleid">
            <id property="id" column="id" />
            <result property="RoleName" column="role_name"/>
        </association>

    </resultMap>

    <select id="getUsersByRoleid" resultType="Com.Mypackage.Model.User">
        select * from sb_users where roleid=#{roleid}
    </select>


    <insert id="InsertUser" useGeneratedKeys="true" keyProperty="id">
        insert into sb_users(username,password,reg_date,state)
        values(#{username},#{password},#{regDate},#{state})
    </insert>

    <update id="UpdateUser">
        update sb_users set
        username=#{username},password=#{password},reg_date=#{regDate},state=#{state}
        where id=#{id}
    </update>

    <delete id="DeleteUser">
        delete from sb_users where id=#{id}
    </delete>

</mapper>