<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Com.Example.XmlMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Com.Mypackage.Mapper.RoleMapper">
    <select id="GetoneRoleByid" resultType="Com.Mypackage.Model.Role">
     select * from sb_role where id=#{id}
    </select>


    <select id="selectRoleByRoleName" resultType="Com.Mypackage.Model.Role">
     select * from sb_role where role_name=#{name}
    </select>


    <select id="GetRoleAndUsersByid" resultMap="Role_rsm">


      select * from sb_role where id=#{id}

    </select>

    <resultMap id="Role_rsm" type="Com.Mypackage.Model.Role">
        <id property="id" column="id"/>
        <result property="RoleName" column="role_name" />
       <!-- <collection property="UserList" ofType="Com.Example.model.User">
            <id property="id" column="uid"></id>
            <result property="password" column="password"/>
            <result property="regDate" column="reg_date"/>
            <result property="username" column="username"/>
            <result property="state" column="state"/>
        </collection>-->

        <!--分步查询方式，就不需要写多表联合-->
        <collection property="UserList" select="Com.Mypackage.Mapper.UserMapper.getUsersByRoleid"
                    column="{roleid=id}">
        </collection>


    </resultMap>


</mapper>